* nomes semânticos

* reescrever por cima do bootstrap

* cascata, propriedades que se cancelam, uso de shorthands

.banana {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 100px;
  width: 1190px;
  margin: 20px auto;
  display: block;
  padding-bottom: 70px;
}

a, ul, li, h1, h2, h3, h4, h5, h6{
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-decoration: none;
}

* flex
- declarar propriedades da mãe e das filhas nos seletores corretos

.xuxu {
  flex-wrap: wrap;
  width: 320px;
  margin-top: 0px;
  font-size: 18px;
  margin-left: 38px;
  margin-right: 30px;
  margin-bottom: 100px;
}

* @media e breakpoints de tela

* boas práticas
- não usar IDs como seletores
- organizar
  genéricos (body, etc)
  atômicos
  nav > footer
- consistência nas declarações
  ordem alfabética OU
  tipo de propriedade OU
  outro quesito
- não use absolute a não ser quando absolute-mente necessário
- IMPORTANTE! não use !important
- evite valores maiores absolutos (como px)
- quebrar estilos em múltiplos arquivos (quando aplicável)


* conceitos a estudar
https://github.com/stubbornella/oocss/wiki
https://smacss.com/
